body {
    padding-top: 0;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.hero-unit {
    padding-top: 10px;
}

#alert-area {
    width: 200px;
    height: 50px;
    float: left;
}
.alert {
    height: 25px!important;
}

.form-actions {
    padding: 0 0 0 340px;
    background-color: #FFFFFF;
    border: 0;
}

.form-actions > button{
    margin: 5px;
    width: 120px;
    height: 35px;
}

.mtr-send {
    max-width: 600px;
    padding: 19px 29px 0;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.mtr-send .form-signin-heading,
.mtr-send .checkbox {
    margin-bottom: 10px;
}
.mtr-send input[type="text"],
.mtr-send input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}